In [1]:
import pandas as pd

In [45]:
df = pd.DataFrame([[0,1,2,3]] , columns = ['Á','b__','c','d.'])

In [46]:
df

   Á  b__  c  d.
0  0    1  2   3

In [47]:
df.columns.str.replace('[^a-zA-Z0-9 \n]', '')

Index(['', 'b', 'c', 'd'], dtype='object')

In [48]:
df.columns

Index(['Á', 'b__', 'c', 'd.'], dtype='object')

In [49]:
import unicodedata

def strip_accents(text):

    try:
        text = unicode(text, 'utf-8')
    except NameError: # unicode is a default on python 3 
        pass

    text = unicodedata.normalize('NFD', text)\
           .encode('ascii', 'ignore')\
           .decode("utf-8")

    return str(text)

s = strip_accents('àéêöhello')
print(s)

aeeohello

In [50]:
new_columns = df.apply(lambda x: strip_accents(x.name)).str.replace('[^a-zA-Z0-9 \n]', '')
df.columns = new_columns

In [51]:
df

   A  b  c  d
0  0  1  2  3