# TRABAJANDO CON FECHA/HORA (DATETIME)

El objetivo de esta recopilación, es la de compartir y tener al alcance de manera resumida como realizar el tratamiento de datos de fecha, hora y de fecha/hora, algunas formas de trabajar con los formatos necesarios y de poder manipular dicha data. Para ello, se plantean diferentes temáticas:

- Formato ISO de fechas y horas
- Módulo datetime: Trabajar con variables o valores de fecha, hora, fecha/hora
- Uso de las Directivas
- Zonas horarias
- Conversiones
- Manipulación de datos de series de tiempo con Pandas
- Uso de parser de dateutil
- Módulo time (de la librería estándar de Python)
- Cambio de idioma

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Formato-de-fechas-y-horas" data-toc-modified-id="Formato-de-fechas-y-horas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Formato de fechas y horas</a></span></li><li><span><a href="#Manipulación-de-datos-de-series-de-tiempo-con-Datetime" data-toc-modified-id="Manipulación-de-datos-de-series-de-tiempo-con-Datetime-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Manipulación de datos de series de tiempo con <em>Datetime</em></a></span></li><li><span><a href="#Módulo-datetime-de-la-librería-de-Python" data-toc-modified-id="Módulo-datetime-de-la-librería-de-Python-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Módulo datetime de la librería de Python</a></span><ul class="toc-item"><li><span><a href="#datetime:-obteniendo-el-momento-actual-y-extrayendo-su-día,-mes,-año,-hora,-minutos,-segundos" data-toc-modified-id="datetime:-obteniendo-el-momento-actual-y-extrayendo-su-día,-mes,-año,-hora,-minutos,-segundos-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>datetime</code>: obteniendo el momento actual y extrayendo su día, mes, año, hora, minutos, segundos</a></span></li><li><span><a href="#datetime:-creando-una-fecha-determinada" data-toc-modified-id="datetime:-creando-una-fecha-determinada-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>datetime</code>: creando una fecha determinada</a></span></li><li><span><a href="#date:-obteniendo-fecha-actual-y-extrayendo-su-día,-mes,-año" data-toc-modified-id="date:-obteniendo-fecha-actual-y-extrayendo-su-día,-mes,-año-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span><code>date</code>: obteniendo fecha actual y extrayendo su día, mes, año</a></span></li><li><span><a href="#time:-obteniendo-hora-actual-y-extrayendo-su-hora,-minutos,-segundos" data-toc-modified-id="time:-obteniendo-hora-actual-y-extrayendo-su-hora,-minutos,-segundos-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>time</code>: obteniendo hora actual y extrayendo su hora, minutos, segundos</a></span></li><li><span><a href="#timedelta:-obteniendo-fracciones-de-tiempo--->-microsegundos,-milisegundos,-segundos,-minutos,-horas,-diás,-semanas" data-toc-modified-id="timedelta:-obteniendo-fracciones-de-tiempo--->-microsegundos,-milisegundos,-segundos,-minutos,-horas,-diás,-semanas-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span><code>timedelta</code>: obteniendo fracciones de tiempo --&gt; microsegundos, milisegundos, segundos, minutos, horas, diás, semanas</a></span></li><li><span><a href="#timedelta:-operaciones-con-fecha/hora" data-toc-modified-id="timedelta:-operaciones-con-fecha/hora-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span><code>timedelta</code>: operaciones con fecha/hora</a></span></li><li><span><a href="#replace:-Reemplazo-de-algún-elemento-de-la-fecha/hora" data-toc-modified-id="replace:-Reemplazo-de-algún-elemento-de-la-fecha/hora-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span><code>replace</code>: Reemplazo de algún elemento de la fecha/hora</a></span></li></ul></li><li><span><a href="#DIRECTIVAS" data-toc-modified-id="DIRECTIVAS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>DIRECTIVAS</a></span></li><li><span><a href="#Zonas-horarias" data-toc-modified-id="Zonas-horarias-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Zonas horarias</a></span><ul class="toc-item"><li><span><a href="#Módulo-pytz" data-toc-modified-id="Módulo-pytz-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Módulo pytz</a></span></li><li><span><a href="#Objetos-Aware-y-Naive" data-toc-modified-id="Objetos-Aware-y-Naive-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Objetos Aware y Naive</a></span></li><li><span><a href="#tzinfo:-determinar-o-no-la-zona-horaria" data-toc-modified-id="tzinfo:-determinar-o-no-la-zona-horaria-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span><code>tzinfo</code>: determinar o no la zona horaria</a></span></li></ul></li><li><span><a href="#Conversiones" data-toc-modified-id="Conversiones-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Conversiones</a></span><ul class="toc-item"><li><span><a href="#Convertir-objeto-datetime-a-string" data-toc-modified-id="Convertir-objeto-datetime-a-string-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Convertir objeto datetime a string</a></span><ul class="toc-item"><li><span><a href="#Función-isoformat:-Formato-automático-ISO-(Organización-Internacional-de-Normalización)" data-toc-modified-id="Función-isoformat:-Formato-automático-ISO-(Organización-Internacional-de-Normalización)-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Función <code>isoformat</code>: Formato automático ISO (Organización Internacional de Normalización)</a></span></li><li><span><a href="#strftime:-Formato-manual-(inglés-por-defecto)" data-toc-modified-id="strftime:-Formato-manual-(inglés-por-defecto)-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span><code>strftime</code>: Formato manual (inglés por defecto)</a></span></li></ul></li><li><span><a href="#Convertir-string-a-objeto-datetime" data-toc-modified-id="Convertir-string-a-objeto-datetime-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Convertir string a objeto datetime</a></span><ul class="toc-item"><li><span><a href="#strptime:" data-toc-modified-id="strptime:-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span><code>strptime</code>:</a></span></li></ul></li></ul></li><li><span><a href="#Manipulación-de-datos-de-series-de-tiempo-con-Pandas" data-toc-modified-id="Manipulación-de-datos-de-series-de-tiempo-con-Pandas-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Manipulación de datos de series de tiempo con <em>Pandas</em></a></span><ul class="toc-item"><li><span><a href="#Timestamp:-equivalente-al-Datetime-de-Python" data-toc-modified-id="Timestamp:-equivalente-al-Datetime-de-Python-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span><code>Timestamp</code>: equivalente al <code>Datetime</code> de Python</a></span></li><li><span><a href="#date_range:" data-toc-modified-id="date_range:-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>date_range</code>:</a></span></li><li><span><a href="#bdate_range:" data-toc-modified-id="bdate_range:-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span><code>bdate_range</code>:</a></span></li><li><span><a href="#to_timedelta:" data-toc-modified-id="to_timedelta:-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span><code>to_timedelta</code>:</a></span></li><li><span><a href="#Manejo-de-las-frecuencias" data-toc-modified-id="Manejo-de-las-frecuencias-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>Manejo de las frecuencias</a></span></li><li><span><a href="#strptime" data-toc-modified-id="strptime-7.6"><span class="toc-item-num">7.6&nbsp;&nbsp;</span><code>strptime</code></a></span></li><li><span><a href="#strptime:-para-la-conversión-empleando-apply" data-toc-modified-id="strptime:-para-la-conversión-empleando-apply-7.7"><span class="toc-item-num">7.7&nbsp;&nbsp;</span><code>strptime</code>: para la conversión empleando apply</a></span></li><li><span><a href="#to_datetime:-para-la-conversión-de-los-datos-de-fecha/hora" data-toc-modified-id="to_datetime:-para-la-conversión-de-los-datos-de-fecha/hora-7.8"><span class="toc-item-num">7.8&nbsp;&nbsp;</span><code>to_datetime</code>: para la conversión de los datos de fecha/hora</a></span></li><li><span><a href="#DatetimeIndex:" data-toc-modified-id="DatetimeIndex:-7.9"><span class="toc-item-num">7.9&nbsp;&nbsp;</span><code>DatetimeIndex</code>:</a></span></li><li><span><a href="#astype:" data-toc-modified-id="astype:-7.10"><span class="toc-item-num">7.10&nbsp;&nbsp;</span><code>astype</code>:</a></span></li><li><span><a href="#Atributos-de-DatetimeIndex:" data-toc-modified-id="Atributos-de-DatetimeIndex:-7.11"><span class="toc-item-num">7.11&nbsp;&nbsp;</span>Atributos de DatetimeIndex:</a></span></li><li><span><a href="#set_index:" data-toc-modified-id="set_index:-7.12"><span class="toc-item-num">7.12&nbsp;&nbsp;</span><code>set_index</code>:</a></span></li><li><span><a href="#resample:" data-toc-modified-id="resample:-7.13"><span class="toc-item-num">7.13&nbsp;&nbsp;</span><code>resample</code>:</a></span></li><li><span><a href="#Usando-un-dataframe-más-amplio:-&quot;Fire_Department_Calls_for_Service&quot;" data-toc-modified-id="Usando-un-dataframe-más-amplio:-&quot;Fire_Department_Calls_for_Service&quot;-7.14"><span class="toc-item-num">7.14&nbsp;&nbsp;</span>Usando un dataframe más amplio: "Fire_Department_Calls_for_Service"</a></span><ul class="toc-item"><li><span><a href="#Convertir-las-columnas-de-fecha/hora:" data-toc-modified-id="Convertir-las-columnas-de-fecha/hora:-7.14.1"><span class="toc-item-num">7.14.1&nbsp;&nbsp;</span>Convertir las columnas de fecha/hora:</a></span></li></ul></li></ul></li><li><span><a href="#Uso-de-parser-de-dateutil" data-toc-modified-id="Uso-de-parser-de-dateutil-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Uso de parser de dateutil</a></span></li><li><span><a href="#Módulo-time-(de-la-librería-estándar-de-Python)" data-toc-modified-id="Módulo-time-(de-la-librería-estándar-de-Python)-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Módulo time (de la librería estándar de Python)</a></span><ul class="toc-item"><li><span><a href="#time:" data-toc-modified-id="time:-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span><code>time</code>:</a></span></li><li><span><a href="#fromtimestamp:-Convertir-el-epoch-a-fecha" data-toc-modified-id="fromtimestamp:-Convertir-el-epoch-a-fecha-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span><code>fromtimestamp</code>: Convertir el epoch a fecha</a></span></li><li><span><a href="#gmtime:" data-toc-modified-id="gmtime:-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span><code>gmtime</code>:</a></span></li><li><span><a href="#localtime:" data-toc-modified-id="localtime:-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span><code>localtime</code>:</a></span></li></ul></li><li><span><a href="#Cambio-de-idioma" data-toc-modified-id="Cambio-de-idioma-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Cambio de idioma</a></span></li></ul></div>

## Formato de fechas y horas

ISO 8601: El estándar para la representación numérica de fechas y horas.

La Norma Internacional para la representación de fechas y horas es ISO 8601. 

https://www.w3.org/QA/Tips/iso-date.html.es

- **Year**: YYYY (1997)   
- **Year and month**: YYYY-MM (1997-07)
- **Date**: YYYY-MM-DD (1997-07-16)
- **Date + hours and minutes**: YYYY-MM-DDThh:mmTZD (1997-07-16T19:20+01:00)
- **Date + hours, minutes and seconds**: YYYY-MM-DDThh:mm:ssTZD (1997-07-16T19:20:30+01:00)
- **Date + hours, minutes, seconds and a decimal fraction of a second**: YYYY-MM-DDThh:mm:ss.sTZD (1997-07-16T19:20:30.45+01:00)

Donde:
-     YYYY = 4 digitos
-     MM   = 2 digitos (01=January, etc.)
-     DD   = 2 digitos (01 through 31)
-     hh   = 2 digitos (00 through 23) (am/pm NOT allowed)
-     mm   = 2 digitos (00 through 59)
-     ss   = 2 digitos (00 through 59)
-     s    = 1 o más digitos que represente la fracción decimal de un segundo
-     TZD  = zona horaria (Z or +hh:mm or -hh:mm)

La "T" aparece en la cadena, para indicar el comienzo del elemento de tiempo, como se especifica en ISO 8601.

Este perfil no especifica cuántos dígitos se pueden usar para representar la fracción decimal de un segundo. Un estándar de adopción que permita fracciones de segundo debe especificar tanto el número mínimo de dígitos (un número mayor o igual a uno) y el número máximo de dígitos (el máximo puede ser declarado como "ilimitado").
Este perfil define dos formas de manejar las compensaciones de zona horaria: 
- Los tiempos se expresan en UTC (Tiempo Universal Coordinado), con un designador UTC especial ("Z").
- Las horas se expresan en hora local, junto con un desplazamiento de zona horaria en horas y minutos. Un desplazamiento de zona horaria de "+ hh: mm" indica que la fecha/hora utiliza una zona horaria local que es "hh" horas y "mm" minutos antes de UTC. Un off-set de zona horaria de **_"-hh: mm"_** indica que la fecha/hora utiliza una zona horaria local que es "hh" horas y "mm" minutos detrás de UTC.

<img src='images/bRGGm.png' alt="Drawing" style="width: 800px;"/>

La época (epoch) es el punto en el tiempo en Python desde el cual desde el cual se comienza a medir este, su unidad son los segundos. Está se ubica a las 12:00 a.m., 1 de enero de 1970. Es el comienzo de una era. 
https://data-flair.training/blogs/python-date-and-time/

## Manipulación de datos de series de tiempo con *Datetime*

El módulo `datetime` proporciona una interfaz de alto nivel para fecha, hora, y valores combinados. Las clases en `datetime` soportan *artimética, comparacion y configuración de zonas horarias*.

https://rico-schmidt.name/pymotw-3/dates.html

En esta sección se presentará las formas de manejo de fecha/hora más comúnmente utilizados en los proyectos, a través del uso de **variables** que guardan este tipo de datos. 

- https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

<img src="images/Datetime.png" width="600">

<font size=4>**Objeto `datetime`**:</font>

El módulo **datetime** incluye funciones y clases para realizar análisis de fecha y hora, formateo y aritmética. Contiene funciones y clases para trabajar con fechas y horas, por separado y juntas.

<font size=4>**Objeto `date`**:</font>

Los valores de la fecha del calendario se representan con la clase de **date**. Las instancias tienen atributos para año, mes y día.
https://pymotw.com/2/datetime/

<font size=4>**Objeto `time`**:</font>

Los valores de tiempo se representan con la clase de **time**. Los tiempos tienen atributos para hora, minuto, segundo y microsegundo. También pueden incluir información de zona horaria.
https://www.programiz.com/python-programming/time

Una instancia de tiempo solo contiene valores de tiempo, y no una fecha asociada con el tiempo.

<font size=4>**Objeto `timedelta`**:</font>

La función **timedelta()** de Python está presente en la biblioteca **datetime**, que generalmente se utiliza para facilitar operaciones y manipulaciones de fecha/hora en Python. Es una de las formas más fáciles de realizar manipulaciones de fechas: https://www.geeksforgeeks.org/python-datetime-timedelta-function/

<font size=4>**Objeto `tzinfo`**:</font>

Utilizado por las clases de fecha y hora para proporcionar una noción personalizable de ajuste de hora (por ejemplo, para tener en cuenta la zona horaria y / o el horario de verano). Captura la información de una zona horaria señalada.

<font size=4>**Objeto `timezone`**:</font>

Es una clase que implementa la clase base abstracta tzinfo como un desplazamiento fijo desde el UTC.

<font size=4>**Método `strftime`**:</font>

Los objetos *date*, *datetime* y *time* son compatibles con un método de strftime, para crear un string que represente el tiempo bajo el control de una cadena de formato explícito.

<font size=4>**Método `strptime`**:</font>

Se utiliza para llevar "string" a "datetime". Puede manejar todo tipo de formatos, con el formato determinado por un formato string.

Este analiza una cadena que representa un tiempo de acuerdo con un formato. El parámetro de formato utiliza las mismas máscaras (directivas) que las utilizadas por strftime(); el valor predeterminado es "% a% b% d% H:% M:% S% Y".

time.strptime(string, format)

*__Parámetros:__*
- string: este es el tiempo en formato de cadena que se analizaría en función del formato dado.
- format: esta es la máscara que se usaría para analizar la cadena dada.

Para ampliar cómo trabajar con estos:
- https://docs.python.org/3/library/datetime.html
- https://data-flair.training/blogs/python-datetime-module/

In [1]:
# Importando las librerías necesarias
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta
import calendar
pd.set_option("display.max_columns", 300)

## Módulo datetime de la librería de Python
Desglosemos cada uno de los usos principales de estos objetos y métodos
### `datetime`: obteniendo el momento actual y extrayendo su día, mes, año, hora, minutos, segundos

In [2]:
# Momento actual (Fecha/hora)
now = datetime.now()
print('now tenemos la fecha y hora: {} (tipo: {})'.format(now, type(now)))

# Formato Datetime
print("El día actual es {}".format(now.day))
print("El mes actual es {}".format(now.month))
print("El año actual es {}".format(now.year))
print("La hora actual es {}".format(now.hour))
print("El minuto actual es {}".format(now.minute))
print("El segundo actual es {}".format(now.second))

now tenemos la fecha y hora: 2020-02-28 15:07:14.046821 (tipo: <class 'datetime.datetime'>)
El día actual es 28
El mes actual es 2
El año actual es 2020
La hora actual es 15
El minuto actual es 7
El segundo actual es 14

**Fecha del now:**

In [3]:
now.date()

datetime.date(2020, 2, 28)

**Hora del now:**

In [4]:
now.time()

datetime.time(15, 7, 14, 46821)

**Combinando fecha y hora:**

In [5]:
fecha = now.date()
hora = now.time()
datetime.combine(fecha, hora)

datetime.datetime(2020, 2, 28, 15, 7, 14, 46821)

### `datetime`: creando una fecha determinada

In [6]:
# Se usa la función datetime con los parámetros: Año, Mes, Día, Hora, Minutos, Segundos, Milisegundos
# Año, Mes y Día son parámetros obligatorios
new_date = datetime(2019, 2, 28, 10, 15, 10, 100000)  # milisegundos recibe cifras de hasta 6 dígitos
print(new_date)

2019-02-28 10:15:10.100000

### `date`: obteniendo fecha actual y extrayendo su día, mes, año

In [7]:
# Fecha actual
today = date.today()
print('today es: {} (tipo: {})'.format(today, type(today)))

# Formato Date
print("El día actual es {}".format(today.day))
print("El mes actual es {}".format(today.month))
print("El año actual es {}\n".format(today.year))

today es: 2020-02-28 (tipo: <class 'datetime.date'>)
El día actual es 28
El mes actual es 2
El año actual es 2020

### `time`: obteniendo hora actual y extrayendo su hora, minutos, segundos

In [8]:
# Hora actual
t = time(8, 30, 5)    # time(hour, minute, second, microsecond, tzinfo)
print(t, ', de tipo:', type(t))
print('Hora:', t.hour)
print('Minutos:', t.minute)
print('Segundos:', t.second)
print('Microsegundos:', t.microsecond)
print('tzinfo:', t.tzinfo)

08:30:05 , de tipo: <class 'datetime.time'>
Hora: 8
Minutos: 30
Segundos: 5
Microsegundos: 0
tzinfo: None

### `timedelta`: obteniendo fracciones de tiempo --> microsegundos, milisegundos, segundos, minutos, horas, diás, semanas

In [9]:
print("microseconds:", timedelta(microseconds=1))
print("milliseconds:", timedelta(milliseconds=1))
print("seconds     :", timedelta(seconds=1))
print("minutes     :", timedelta(minutes=1))
print("hours       :", timedelta(hours=1))
print("days        :", timedelta(days=1))
print("weeks       :", timedelta(weeks=1))

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds     : 0:00:01
minutes     : 0:01:00
hours       : 1:00:00
days        : 1 day, 0:00:00
weeks       : 7 days, 0:00:00

### `timedelta`: operaciones con fecha/hora

In [10]:
# Sumar dos días a la fecha actual
day_after_tomorrow = now + timedelta(days=2)
print('Ahora: {} y dentro de 2 días: {}\n'.format(now, day_after_tomorrow))

# Comparación de dos fechas
if now < day_after_tomorrow:
    print("La fecha {} es menor que fecha {}\n".format(now, day_after_tomorrow))

yesterday = now - timedelta(days=1)  # Resta a fecha actual 1 día
tomorrow = now + timedelta(days=1)  # Suma a fecha actual 1 día

print("AYER: {}\n".format(yesterday.date()))
print("HOY: {}\n".format(now.date()))
print("MAÑANA: {}\n".format(tomorrow.date()))

Ahora: 2020-02-28 15:07:14.046821 y dentro de 2 días: 2020-03-01 15:07:14.046821

La fecha 2020-02-28 15:07:14.046821 es menor que fecha 2020-03-01 15:07:14.046821

AYER: 2020-02-27

HOY: 2020-02-28

MAÑANA: 2020-02-29

In [11]:
# Generamos 3 días con 14 horas y 1592 segundos de tiempo
delta = timedelta(days=3, hours=14, seconds=1592)

# Sumamos y sustraemos t a la fecha y hora actual y aplicamos formato
dentro_de_tres_pi_dias = now + delta
print('Dentro de 3 días, 4 horas y 1592 segundos: {}\n'.format(dentro_de_tres_pi_dias.strftime("%A %d de %B del %Y - %H:%M")))
hace_tres_pi_dias = now - delta
print('Hace 3 días, 4 horas y 1592 segundos: {}\n'.format(hace_tres_pi_dias.strftime("%A %d de %B del %Y - %H:%M")))

Dentro de 3 días, 4 horas y 1592 segundos: Tuesday 03 de March del 2020 - 05:33

Hace 3 días, 4 horas y 1592 segundos: Tuesday 25 de February del 2020 - 00:40

**Diferencia (en días) entre dos fechas:** resulta en objeto *datetime.timedelta*

In [12]:
diferencia = dentro_de_tres_pi_dias - hace_tres_pi_dias
print(type(diferencia))
print("Fecha inicial:", hace_tres_pi_dias)
print("Fecha final:", dentro_de_tres_pi_dias)
print("Diferencia de las dos fechas:", diferencia.days, "días")

<class 'datetime.timedelta'>
Fecha inicial: 2020-02-25 00:40:42.046821
Fecha final: 2020-03-03 05:33:46.046821
Diferencia de las dos fechas: 7 días

*Observese que la diferencia entre ambas fechas queda como tipo "timedelta".*

### `replace`: Reemplazo de algún elemento de la fecha/hora

In [13]:
new_date = new_date.replace(year=2019)
new_date

datetime.datetime(2019, 2, 28, 10, 15, 10, 100000)

In [14]:
print(new_date)

2019-02-28 10:15:10.100000

## DIRECTIVAS
Máscaras útiles para trabajar con fecha/hora, para aplicar formatos a fechas y horas.

Las siguientes claves se combinan para aplicar formatos:

%a	Nombre local abreviado de día de semana
%A	Nombre local completo de día de semana
%b	Nombre local abreviado de mes
%B	Nombre local completo de mes
%c	Representación local de fecha y hora
%C	número de siglo (el año dividido por 100, rango 00 a 99)
%d	Día de mes [01,31]
%D	igual que% m /% d /% y
%e	día del mes (1 a 31)
%g	como% G, pero sin el siglo
%G	año de 4 dígitos correspondiente al número de semana ISO (consulte% V)
%h	igual que% b
%H	Hora (horario 24 horas) [00,23]
%I	Hora (horario 12 horas) [01,12]
%j	Número de día del año [001,366]
%m	Mes [01,12]
%M	Minuto [00,59]
%n	carácter de nueva línea
%p	Etiqueta AM o PM
%r	hora en notación am y pm
%R	tiempo en notación de 24 horas
%S	Segundo
%S	segundo
%t	carácter de tabulación
%T	hora actual, igual a% H:% M:% S
%u	día de la semana como un número (1 a 7), lunes = 1. Advertencia: En Sun Solaris Sunday = 1
%U	Nº semana del año. Se considera al Domingo como primer día de semana [00,53]
%V	el número de semana ISO 8601 del año actual (01 a 53), donde la semana 1 es la primera semana que tiene al menos 4 días en el año actual, y con el lunes como el primer día de la semana
%w	Establece el primer día de semana [0(Domingo),1(Lunes)... 6].
%W	Nº semana del año (Se considera al Lunes como primer día de semana) [00,53]
%x	Fecha local
%X	Hora local
%y	Año en formato corto [00,99]
%Y	Año en formato largo
%Z	Nombre de Zona Horaria
%%	un carácter literal%

## Zonas horarias
### Módulo pytz
Para establecer zonas horarias en nuestras fechas y horas necesitamos instalar el módulo pytz.

**pytz:** útil para hacer las conversiones hacia/desde UTC

!pip install pytz         # Celda Raw: activar celda con "Esc" + "Y" / desactivar con "Esc" + "R"

In [15]:
# Una vez instalado podemos consultar las diferentes zonas horarias disponibles importando:
import pytz
todas_las_zonas_horarias = pytz.all_timezones

# Por ejemplo, para crear la hora actual en Tokyo (Japón) haríamos lo siguiente:
now_Tokyo = datetime.now(pytz.timezone('Asia/Tokyo'))
print('Ahora en Tokyo es:', now_Tokyo.strftime("%A %d de %B del %Y - %H:%M"),'hs')  # %I 12h - %H 24h
print('Ahora en Tokyo es:', now_Tokyo.strftime("%A %d de %B del %Y - %H:%M"),'hs')  # %I 12h - %H 24h

Ahora en Tokyo es: Saturday 29 de February del 2020 - 03:07 hs
Ahora en Tokyo es: Saturday 29 de February del 2020 - 03:07 hs

<img src='images/image1-9-1.png' alt="Drawing" style="width: 500px;"/>

### Objetos Aware y Naive
Los objetos de fecha y hora pueden clasificarse como **"aware" o "nayve"**.

**¿Naive?**
Representación de fecha y hora que no tiene una zona horaria determinada. La fecha y hora puede no existir en ciertas áreas del mundo a pesar de que es válida. Es útil en casos en los que no conoce o no desea especificar una zona horaria.

**¿Aware?**
Representa un momento específico en el tiempo que no está abierto a interpretación, contiene información de la zona horaria.

- https://stackoverflow.com/questions/24281525/what-is-the-point-of-a-naive-datetime
- https://hexdocs.pm/elixir/NaiveDateTime.html
- https://docs.python.org/3/library/datetime.html

**offset (desfase):** https://vinta.ws/code/timezone-in-python-offset-naive-and-offset-aware-datetimes.html

### `tzinfo`: determinar o no la zona horaria
(el próximo error es presentado con intención de ejemplificar)

In [16]:
def function(past_time):
    now = datetime.now()
    diff = now - past_time
    return diff

print(function(now_Tokyo))

TypeError: can't subtract offset-naive and offset-aware datetimes

Con **datetime** no se realiza ningún cálculo de zona horaria cruzada. Ambos objetos "datetime" deben tener el mismo tzinfo (bien sea aware o naive).

**Nota:** La decisión de trabajar con determinada zona horaria o no, debe estar relacionada con el tipon de problema que se este abordando. Se debe tener en cuenta que este decisión puede alterar los resultados que se obtengan.

In [17]:
def function(past_time):
    now = datetime.now()
    now = now.replace(tzinfo=past_time.tzinfo) # igualando zona horaria
    diff = now - past_time
    return now, diff
now, diff = function(now_Tokyo)
print('Ahora (local): {} \ny en Tokyo: {}, \ny su diferencia:{} respecto al local'.format(now, now_Tokyo, diff))

Ahora (local): 2020-02-28 15:07:25.026428+09:00
y en Tokyo: 2020-02-29 03:07:14.172486+09:00,
y su diferencia:-1 day, 12:00:10.853942 respecto al local

- Llamada de `timedelta.days` para obtener los días. 
- Llamada de `timedelta.seconds` para obtener las horas y minutos, a partir de los segundos.

In [18]:
print(f'Diferencia en horas y minutos: {diff.seconds//3600}° {(diff.seconds/3600 - diff.seconds//3600)*60:.2f}\'')
print(f'Diferencia en minutos: {diff.seconds//60}')
print(f'Diferencia en horas: {diff.seconds}')

Diferencia en horas y minutos: 12° 0.17'
Diferencia en minutos: 720
Diferencia en horas: 43210

## Conversiones
### Convertir objeto datetime a string

Tenemos 2 maneras de realizar esta conversión:
#### Función `isoformat`: Formato automático ISO (Organización Internacional de Normalización)

In [19]:
print('CONVERTIR Ahora:', now, ', de tipo:', type(now))
print('A Ahora:', now.isoformat(), ', de tipo:', type(now.isoformat()))

CONVERTIR Ahora: 2020-02-28 15:07:25.026428+09:00 , de tipo: <class 'datetime.datetime'>
A Ahora: 2020-02-28T15:07:25.026428+09:00 , de tipo: <class 'str'>

#### `strftime`: Formato manual (inglés por defecto)

In [20]:
hoy = now.strftime("%A %d %B %Y %I:%M")
print(hoy, ', de tipo:', type(hoy))
hoy = now.strftime("%B %d %A %Y %I:%M")
print(hoy, ', de tipo:', type(hoy))

Friday 28 February 2020 03:07 , de tipo: <class 'str'>
February 28 Friday 2020 03:07 , de tipo: <class 'str'>

### Convertir string a objeto datetime
#### `strptime`:

In [21]:
# El objeto datetime resultante es timezone-naive - strptime(string, formato)
datetime_object = datetime.strptime('Jun 1 2005 1:33PM', '%b %d %Y %I:%M%p')
print(datetime_object, '(de tipo: {})'.format(type(datetime_object)))

2005-06-01 13:33:00 (de tipo: <class 'datetime.datetime'>)

In [22]:
# definiendo el formato de la fecha
formato_fecha = "%d-%m-%Y"
fecha_inicial = datetime.strptime("01-10-2013", formato_fecha)
fecha_final = datetime.strptime("25-12-2013", formato_fecha)
print('Fecha 1:', fecha_inicial)
print('Fecha 2:', fecha_final)

Fecha 1: 2013-10-01 00:00:00
Fecha 2: 2013-12-25 00:00:00

## Manipulación de datos de series de tiempo con *Pandas*
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

### `Timestamp`: equivalente al `Datetime` de Python 
Es el equivalente de pandas de `Datetime` de Python y es intercambiable con este en la mayoría de los casos. Es el tipo utilizado para las entradas que componen un índice de fecha y hora y otras estructuras de datos orientadas a series temporales en pandas.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html

- **Días desde el epoch, correspondientes al entero suministrado, da como resultado la fecha/hora:**

In [23]:
print(pd.Timestamp(31416, unit='d'))

2056-01-06 00:00:00

- **Segundos desde el epoch, correspondientes al entero suministrado, dan como resultado la fecha/hora**

In [24]:
print(pd.Timestamp(314159265, unit='s'))

1979-12-16 02:27:45

In [25]:
print(pd.Timestamp('2016-03-14'))
print(pd.Timestamp('2016/03/14'))
print(pd.Timestamp('2016 03 14'))
print(pd.Timestamp('2016, 03, 14 01:59:09'))
print(pd.Timestamp('2016, 03, 14 03:09:26 pm'))

2016-03-14 00:00:00
2016-03-14 00:00:00
2016-03-14 00:00:00
2016-03-14 01:59:09
2016-03-14 15:09:26

### `date_range`: 

La frecuencia predeterminada para date_range es un día calendario (freq='D').

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

**Creando un rango de fechas del año 2018**

In [26]:
anho_2020 = pd.date_range(start='2020-01-01', end='2020-12-31')   # inicio, fin, períodos, frecuencia
anho_2020

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

El rango resultante es de un año con un total de 366 días (es un año bisiesto)

**Creando un rango de fecha/hora de frecuencia de 1 hora**

In [27]:
rango_de_fechas_1H = pd.date_range('2020-01-01', periods=7, freq='H')   # inicio, fin, períodos, frecuencia
rango_de_fechas_1H

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00'],
              dtype='datetime64[ns]', freq='H')

**Creando un rango de fecha/hora de frecuencia de 2 horas**

In [28]:
rango_de_fechas_2H = pd.date_range('2020-01-01', periods=7, freq='2H')   # parámetros: inicio, fin, períodos, frecuencia
rango_de_fechas_2H

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 02:00:00',
               '2020-01-01 04:00:00', '2020-01-01 06:00:00',
               '2020-01-01 08:00:00', '2020-01-01 10:00:00',
               '2020-01-01 12:00:00'],
              dtype='datetime64[ns]', freq='2H')

### `bdate_range`:
La frecuencia predeterminada para bdate_range es un día hábil (freq='B').

In [29]:
anho_laboral_2020 = pd.bdate_range(start='2020-01-01', end='2020-12-31')   # parámetros: inicio, fin, períodos, frecuencia
anho_laboral_2020

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=262, freq='B')

El rango resultante es de un año con un total de 262 días hábiles; a diferencia del anterior que retornaba los días continuos del año 2020, este retorna sólo los días háblies.

**Nota:** Estas salidas de `bdate_range` y `date_range` en algunas ocasiones es útil para comparar con nuestras fechas y poder detectar algún registro faltante; cuando estos tienen una frecuencia fija.

### `to_timedelta`:

In [30]:
pd.to_timedelta(rango_de_fechas_2H-rango_de_fechas_1H)

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00'],
               dtype='timedelta64[ns]', freq=None)

### Manejo de las frecuencias
- Consultar el siguiente enlace: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

<font color='blue' size=4>**Veamos la manipulación de fecha/hora con un dataframe...**</font>

Descargar dataset desde el siguiente link:

Referencia: https://www.kaggle.com/mchirico/montcoalert/data

In [31]:
data = pd.read_csv('Data/911.csv')

In [32]:
emergency = data.copy()
emergency.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

**Descripción de columnas del dataframe:**
- lat: Latitude
- lng: Longitude
- desc: Description of Emergency
- zip: ZIP Code
- title: Title of Emergency
- time: StampDate and time of the call
- twp: Town
- addr: Adress
- e:

**Verificando el tipo de dato de la columna timeStamp**

In [33]:
emergency.timeStamp.dtype

dtype('O')

**Convirtiendo el tipo de dato de la columna "timeStamp" a objeto "datetime.datetime"**

In [34]:
# Convertir columna en datetime
print('{} (DE tipo {}  A '.format(emergency.loc[0, 'timeStamp'], emergency['timeStamp'].dtype), end=' ')
emergency['timeStamp'] = pd.to_datetime(emergency['timeStamp'])
print('tipo {})'.format(emergency.timeStamp.dtype))

2015-12-10 17:10:52 (DE tipo object  A  tipo datetime64[ns])

### `strptime` 
Solo se puede usar con dato string y no sirve para trabajar directamente con Series o Dataframe.
Para ello debemos valernos de la función map(), que se verá abajo.

In [35]:
print(datetime.strptime(str(emergency.loc[0, 'timeStamp']), '%Y-%m-%d %H:%M:%S'))

2015-12-10 17:10:52

<font size=5 color='blue'>**Probemos a extraer la fecha de la columna "timeStamp"**</font>

En ocasiones tendemos a emplear maneras de convertir los datos en base a lo que estamos acostumbrados a utilizar, pero no necesariamente resulta ser lo más eficiente.
Veamos distintas maneras de extraer la fecha:

### `strptime`: para la conversión empleando apply
Para realizar la conversión con `strptime`, debe aplicarse a cada valor de la columna a tratar; para esto usaremos la función *apply* ...

- ***Nota***: es algo lento

In [36]:
df_emergency = data.copy()

In [37]:
%%time
df_emergency['timeStamp'] = df_emergency['timeStamp'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
df_emergency['timeStamp'][0]

Wall time: 5.43 s

Timestamp('2015-12-10 17:10:52')

<font color='green'>... y utilizamos `ciclo for` para extraer las fechas</font>

In [38]:
%%time
fechas=[]
for i in range(0, len(df_emergency)):
    fechas.append(df_emergency.loc[i, 'timeStamp'].date())
fechas[0:5]

Wall time: 4.57 s

[datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10)]

<font color='green'>... y utilizamos la función `apply` para extraer las fechas</font>

- ***Nota***: es menos lento que el ciclo for

In [39]:
%%time
(df_emergency['timeStamp'].apply(lambda x: datetime.date(x))[0])

Wall time: 1.39 s

datetime.date(2015, 12, 10)

<font color='green'>... y utilizamos la función `map` para extraer las fechas</font>

- ***Nota***: más rapida que el ciclo for y la función `apply`

In [40]:
%%time
def fechas(x):
    return x.date()
solo_fechas = list(map(fechas, df_emergency['timeStamp']))

Wall time: 838 ms

In [41]:
solo_fechas[0:4]

[datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10),
 datetime.date(2015, 12, 10)]

<font color='green'>**Otra manera de extraer la fecha**, pero debemos tener esta indexada (es más eficiente que los modos anteriores)</font>

In [42]:
%%time
df_emergency.set_index('timeStamp').index.date[0:5]

Wall time: 164 ms

array([datetime.date(2015, 12, 10), datetime.date(2015, 12, 10),
       datetime.date(2015, 12, 10), datetime.date(2015, 12, 10),
       datetime.date(2015, 12, 10)], dtype=object)

### `to_datetime`: para la conversión de los datos de fecha/hora

Es una manera mucho más óptima de conversión

In [43]:
%%time
df_emergency['timeStamp'] = pd.to_datetime(df_emergency['timeStamp'])
df_emergency['timeStamp'][0:5]

Wall time: 5.98 ms

0   2015-12-10 17:10:52
1   2015-12-10 17:29:21
2   2015-12-10 14:39:21
3   2015-12-10 16:47:36
4   2015-12-10 16:56:52
Name: timeStamp, dtype: datetime64[ns]

### `DatetimeIndex`:
Este objeto posee muchos atributos para almacenar información específica del tiempo.

In [44]:
df_emergency = data.copy()

In [45]:
%%time
pd.DatetimeIndex(emergency['timeStamp'])[0:5]

Wall time: 998 µs

DatetimeIndex(['2015-12-10 17:10:52', '2015-12-10 17:29:21',
               '2015-12-10 14:39:21', '2015-12-10 16:47:36',
               '2015-12-10 16:56:52'],
              dtype='datetime64[ns]', name='timeStamp', freq=None)

<font color='magenta'>**Otra manera adicional de extraer la fecha**, es mucho más eficiente que los modos anteriores</font>

In [46]:
%%time
pd.DatetimeIndex(emergency['timeStamp']).date[0:5]

Wall time: 122 ms

array([datetime.date(2015, 12, 10), datetime.date(2015, 12, 10),
       datetime.date(2015, 12, 10), datetime.date(2015, 12, 10),
       datetime.date(2015, 12, 10)], dtype=object)

**Extrayendo la hora...**

In [47]:
pd.DatetimeIndex(emergency['timeStamp'] ).time[0:5]

array([datetime.time(17, 10, 52), datetime.time(17, 29, 21),
       datetime.time(14, 39, 21), datetime.time(16, 47, 36),
       datetime.time(16, 56, 52)], dtype=object)

**Extrayendo año, mes y día...**

In [48]:
%%time
pd.DatetimeIndex(emergency['timeStamp']).year[0:5]

Wall time: 34.9 ms

Int64Index([2015, 2015, 2015, 2015, 2015], dtype='int64', name='timeStamp')

In [49]:
%%time
pd.DatetimeIndex(emergency['timeStamp']).month[0:5]

Wall time: 31.9 ms

Int64Index([12, 12, 12, 12, 12], dtype='int64', name='timeStamp')

In [50]:
pd.DatetimeIndex(emergency['timeStamp']).day[0:5]

Int64Index([10, 10, 10, 10, 10], dtype='int64', name='timeStamp')

**Extrayendo horas, minutos y segundos...**

In [51]:
pd.DatetimeIndex(emergency['timeStamp'] ).hour[0:5]

Int64Index([17, 17, 14, 16, 16], dtype='int64', name='timeStamp')

In [52]:
pd.DatetimeIndex(emergency['timeStamp'] ).minute[0:5]

Int64Index([10, 29, 39, 47, 56], dtype='int64', name='timeStamp')

In [53]:
pd.DatetimeIndex(emergency['timeStamp'] ).second[0:5]

Int64Index([52, 21, 21, 36, 52], dtype='int64', name='timeStamp')

**Días de la semana...**

In [54]:
pd.DatetimeIndex(emergency['timeStamp']).weekday[0:5]

Int64Index([3, 3, 3, 3, 3], dtype='int64', name='timeStamp')

In [55]:
pd.DatetimeIndex(emergency['timeStamp']).weekday_name[0:5]

Index(['Thursday', 'Thursday', 'Thursday', 'Thursday', 'Thursday'], dtype='object', name='timeStamp')

### `astype`:
También podemos hacer la conversión de esta manera:

In [56]:
%%time
data[['timeStamp']].astype('datetime64[ns]')[0:5]

Wall time: 277 ms

            timeStamp
0 2015-12-10 17:10:52
1 2015-12-10 17:29:21
2 2015-12-10 14:39:21
3 2015-12-10 16:47:36
4 2015-12-10 16:56:52

### Atributos de DatetimeIndex:
year - month - day - hour - minute - second - microsecond - nanosecond - date - time - timetz - dayofyear - weekofyear - week - dayofweek - weekday - quarter - tz - freq - freqstr - is_month_start - is_month_end - is_quarter_start - is_quarter_end - is_year_start - is_year_end ...

Para más info: 
https://pandas.pydata.org/pandas-docs/version/0.21.1/api.html#datetimeindex

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html#pandas.DatetimeIndex

### `set_index`:
Al indexar la columna "timeStamp" se podrá realizar cierto manejo de estos datos:

In [57]:
emergency = emergency.set_index('timeStamp')
emergency.head(3)

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2015-12-10 17:10:52,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,NEW HANOVER,REINDEER CT & DEAD END,1
2015-12-10 17:29:21,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2015-12-10 14:39:21,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,NORRISTOWN,HAWS AVE,1

- **Determinar la fecha/hora mínima y máxima:**

In [58]:
emergency.index.min(), emergency.index.max()

(Timestamp('2015-12-10 14:39:21'), Timestamp('2018-11-16 08:55:36'))

- **Seleccionar valores a una hora particular del día:**

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at_time.html#pandas.DataFrame.at_time

In [59]:
emergency.at_time('16:30')

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2016-03-21 16:30:00,40.268556,-75.333218,ALLENTOWN RD & DERSTINE RD; TOWAMENCIN; 2016-0...,19440.0,Traffic: VEHICLE ACCIDENT -,TOWAMENCIN,ALLENTOWN RD & DERSTINE RD,1
2016-09-30 16:30:00,40.083880,-75.157185,SALISBURY RD & GREENWOOD AVE; CHELTENHAM; Sta...,19095.0,EMS: CVA/STROKE,CHELTENHAM,SALISBURY RD & GREENWOOD AVE,1
2017-01-29 16:30:00,40.375426,-75.516024,RT663 & NORTHGATE BLVD; UPPER HANOVER; 2017-01...,NaN,Traffic: VEHICLE ACCIDENT -,UPPER HANOVER,RT663 & NORTHGATE BLVD,1
2017-09-20 16:30:00,40.024967,-75.282905,PRESIDENTIAL BLVD & GLEN RD; LOWER MERION; St...,NaN,EMS: CARDIAC EMERGENCY,LOWER MERION,PRESIDENTIAL BLVD & GLEN RD,1
2017-12-09 16:30:00,40.206081,-75.224618,BETHLEHEM PIKE & WELSH RD; HORSHAM; 2017-12-09...,19454.0,Traffic: VEHICLE ACCIDENT -,HORSHAM,BETHLEHEM PIKE & WELSH RD,1

- **Seleccionar valores entre horas particulares del día:**

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.between_time.html#pandas.DataFrame.between_time

In [60]:
emergency.between_time('8:00', '8:05')

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2015-12-11 08:01:43,40.156448,-75.122080,EASTON RD & ANDREA DR; UPPER MORELAND; Statio...,19090.0,EMS: UNRESPONSIVE SUBJECT,UPPER MORELAND,EASTON RD & ANDREA DR,1
2015-12-11 08:04:24,40.121176,-75.133361,SUSQUEHANNA RD & EASTON RD; ABINGTON; 2015-12-...,19001.0,Traffic: VEHICLE ACCIDENT -,ABINGTON,SUSQUEHANNA RD & EASTON RD,1
2015-12-11 08:04:24,40.119833,-75.125349,SUSQUEHANNA RD & TYSON AVE OVERPASS; ABINGTON;...,NaN,Traffic: VEHICLE ACCIDENT -,ABINGTON,SUSQUEHANNA RD & TYSON AVE OVERPASS,1
2015-12-13 08:03:40,40.113061,-75.119229,SUSQUEHANNA RD & HUNTINGDON RD; ABINGTON; Sta...,19046.0,EMS: HEAD INJURY,ABINGTON,SUSQUEHANNA RD & HUNTINGDON RD,1
2015-12-14 08:02:46,40.294817,-75.537972,BIG RD & COLONIAL RD; UPPER FREDERICK; Statio...,18074.0,EMS: RESPIRATORY EMERGENCY,UPPER FREDERICK,BIG RD & COLONIAL RD,1
...,...,...,...,...,...,...,...,...
2018-11-16 08:01:18,40.380820,-75.577332,NIANTIC RD & MILLER RD; DOUGLASS; Station 7A5...,19504.0,EMS: FALL VICTIM,DOUGLASS,NIANTIC RD & MILLER RD,1
2018-11-16 08:02:05,40.143183,-75.119150,PARK AVE & MORELAND RD; UPPER MORELAND; 2018-1...,19090.0,Fire: FIRE INVESTIGATION,UPPER MORELAND,PARK AVE & MORELAND RD,1
2018-11-16 08:01:18,40.229906,-75.484790,RT422 EB & RAMP RT422 EB TO TOWNSHIP LINE RD; ...,NaN,Traffic: DISABLED VEHICLE -,LIMERICK,RT422 EB & RAMP RT422 EB TO TOWNSHIP LINE RD,1
2018-11-16 08:04:17,40.229906,-75.484790,RT422 EB & RAMP RT422 EB TO TOWNSHIP LINE RD; ...,NaN,Traffic: DISABLED VEHICLE -,LIMERICK,RT422 EB & RAMP RT422 EB TO TOWNSHIP LINE RD,1
2018-11-16 08:03:27,40.141119,-75.242182,W BUTLER PIKE & WHITPAIN DR; WHITPAIN; 2018-11...,19002.0,Traffic: VEHICLE ACCIDENT -,WHITPAIN,W BUTLER PIKE & WHITPAIN DR,1

- **Seleccionar las fechas del último mes:**

In [61]:
emergency.last('1M')

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2018-10-31 08:49:29,40.173685,-75.184829,SUMTER PL & MANCHESTER DR; UPPER DUBLIN; Stat...,19002.0,EMS: SUBJECT IN PAIN,UPPER DUBLIN,SUMTER PL & MANCHESTER DR,1
2018-10-31 08:52:06,40.187678,-75.454049,4TH AVE & WALNUT ST; COLLEGEVILLE; 2018-10-31 ...,19426.0,Fire: FIRE ALARM,COLLEGEVILLE,4TH AVE & WALNUT ST,1
2018-10-31 08:51:27,40.156964,-75.143117,WELSH RD & BLAIR MILL RD; HORSHAM; 2018-10-31 ...,19044.0,Fire: FIRE ALARM,HORSHAM,WELSH RD & BLAIR MILL RD,1
2018-10-31 08:58:54,40.085338,-75.396135,GULPH RD & MALL BLVD; UPPER MERION; 2018-10-31...,19406.0,Traffic: DISABLED VEHICLE -,UPPER MERION,GULPH RD & MALL BLVD,1
2018-10-31 09:05:23,40.221227,-75.288737,SUMNEYTOWN PIKE & RR OVERPASS; UPPER GWYNEDD;...,NaN,EMS: CARDIAC EMERGENCY,UPPER GWYNEDD,SUMNEYTOWN PIKE & RR OVERPASS,1
...,...,...,...,...,...,...,...,...
2018-11-16 08:54:08,40.139993,-75.049864,BUCK RD & WOODWARD DR; LOWER MORELAND; 2018-11...,19006.0,Traffic: VEHICLE ACCIDENT -,LOWER MORELAND,BUCK RD & WOODWARD DR,1
2018-11-16 08:53:32,40.270121,-75.382825,OAK DR & MOYER RD; LOWER SALFORD; 2018-11-16 @...,19438.0,Traffic: VEHICLE ACCIDENT -,LOWER SALFORD,OAK DR & MOYER RD,1
2018-11-16 08:54:19,40.270121,-75.382825,OAK DR & MOYER RD; LOWER SALFORD; 2018-11-16 @...,19438.0,Traffic: VEHICLE ACCIDENT -,LOWER SALFORD,OAK DR & MOYER RD,1
2018-11-16 08:51:48,40.190946,-75.237285,SUMNEYTOWN PIKE & WELLINGTON DR; LOWER GWYNEDD...,19002.0,Traffic: VEHICLE ACCIDENT -,LOWER GWYNEDD,SUMNEYTOWN PIKE & WELLINGTON DR,1
2018-11-16 08:46:25,40.155164,-75.264665,HOFFMAN ; LOWER GWYNEDD; 2018-11-16 @ 08:46:25;,19422.0,Traffic: DISABLED VEHICLE -,LOWER GWYNEDD,HOFFMAN,1

- **Para graficar una serie de tiempo:**

Por ejemplo, para poder graficar esta serie, la fecha debe estar indexada, así esta aparecerá en el eje horizontal

In [62]:
import matplotlib as plt
emergency['lat'].sort_values().plot(title='Latitudes', figsize=(20,4), )

### `resample`:

Para muestrear los datos de series de tiempo, siguiendo alguna frecuencia especifica, permitiendo obtener algunas de las operaciones que enseguida se detallan.

Incluye las operaciones sum, mean, std, sem, max, min, median, first, last, ohlc

Frecuencias a utilizar:
- D: Día (continuo)
- B: Día hábil
- W: semanal 
- M: mensual 
- SM: bimensual (día 15 y último del mes)
- Q: trimestral

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#resampling

**Calculo de la latitud más alta de cada semestre:**

In [63]:
emergency['lat'].resample('6M').max()

timeStamp
2015-12-31    40.479853
2016-06-30    41.167156
2016-12-31    40.464122
2017-06-30    40.479853
2017-12-31    41.167156
2018-06-30    40.969431
2018-12-31    51.335390
Freq: 6M, Name: lat, dtype: float64

### Usando un dataframe más amplio: "Fire_Department_Calls_for_Service"

Descargar dataset desde el siguiente link:

Referencia: https://data.sfgov.org/Public-Safety/Fire-Department-Calls-for-Service/nuek-vuh3

In [64]:
# Especificando los tipos de datos de cada columna para hacer la lectura del dataframe más rapida
dataframe = pd.read_csv('Data/Fire_Department_Calls_for_Service.csv', 
                             dtype={'Call Number': object, 'Station Area': object, 'Box': object, 
                                    'ALS Unit': object, 'Call Type Group': object
})

https://stackoverflow.com/questions/24251219/pandas-read-csv-low-memory-and-dtype-options
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,19,20,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
data_fire_dept = dataframe.copy()
data_fire_dept.head(2)

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Call Final Disposition,Available DtTm,Address,City,Zipcode of Incident,Battalion,Station Area,Box,Original Priority,Priority,Final Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,Location,RowID
0,192910017,E11,19125164.0,Alarms,10/18/2019,10/17/2019,10/18/2019 12:03:52 AM,10/18/2019 12:06:59 AM,10/18/2019 12:07:05 AM,10/18/2019 12:08:28 AM,10/18/2019 12:11:10 AM,NaN,NaN,Fire,10/18/2019 12:33:57 AM,24TH ST/VALENCIA ST,San Francisco,94110.0,B06,11,5525,3,3,3.0,true,Alarm,1.0,ENGINE,1.0,6,9,Mission,"(37.75210364574824, -122.42066480228367)",192910017-E11
1,192910018,B10,19125165.0,Alarms,10/18/2019,10/17/2019,10/18/2019 12:05:56 AM,10/18/2019 12:07:27 AM,10/18/2019 12:09:49 AM,NaN,NaN,NaN,NaN,Other,10/18/2019 12:10:14 AM,3300 Block of 23RD ST,San Francisco,94110.0,B06,11,0552,3,3,3.0,false,Alarm,1.0,CHIEF,1.0,6,9,Mission,"(37.75368162954947, -122.4202535645237)",192910018-B10

In [66]:
print('Shape:', data_fire_dept.shape, '\n')
print('Colummas:', list(data_fire_dept.columns))

Shape: (4071035, 34)

Colummas: ['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date', 'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm', 'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm', 'Call Final Disposition', 'Available DtTm', 'Address', 'City', 'Zipcode of Incident', 'Battalion', 'Station Area', 'Box', 'Original Priority', 'Priority', 'Final Priority', 'ALS Unit', 'Call Type Group', 'Number of Alarms', 'Unit Type', 'Unit sequence in call dispatch', 'Fire Prevention District', 'Supervisor District', 'Neighborhooods - Analysis Boundaries', 'Location', 'RowID']

**Selección columnas con datos de fecha y fecha/hora y revisión del tipo de dato**

In [67]:
# Selección de las columnas que contienen fecha y fecha/hora
datetime_columns = ['Call Date', 'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm', 'Response DtTm', 'On Scene DtTm', 'Available DtTm']
# Verificación del tipo de dato que contienen estas columnas

**Conversión de las fechas y fecha/hora en "datetime"**

In [68]:
%%time
data_fire_dept['Call Date'] = pd.to_datetime(data_fire_dept['Call Date'])
data_fire_dept['Watch Date'] = pd.to_datetime(data_fire_dept['Watch Date'])
data_fire_dept[['Call Date', 'Watch Date']].head()

Wall time: 3.22 s

   Call Date Watch Date
0 2019-10-18 2019-10-17
1 2019-10-18 2019-10-17
2 2019-10-18 2019-10-17
3 2019-10-18 2019-10-17
4 2019-10-18 2019-10-17

#### Convertir las columnas de fecha/hora:
**Nota:** al momento de realizar la conversión es conveniente especificar el formato de la estructura que tienen los datos

In [69]:
%%time
data_fire_dept['Received DtTm'] = pd.to_datetime(data_fire_dept['Received DtTm'], format='%m/%d/%Y %H:%M:%S %p')
data_fire_dept['Entry DtTm'] = pd.to_datetime(data_fire_dept['Entry DtTm'], format='%m/%d/%Y %H:%M:%S %p')
data_fire_dept['Dispatch DtTm'] = pd.to_datetime(data_fire_dept['Dispatch DtTm'], format='%m/%d/%Y %H:%M:%S %p')
data_fire_dept['Response DtTm'] = pd.to_datetime(data_fire_dept['Response DtTm'], format='%m/%d/%Y %H:%M:%S %p')
data_fire_dept['On Scene DtTm'] = pd.to_datetime(data_fire_dept['On Scene DtTm'], format='%m/%d/%Y %H:%M:%S %p')
data_fire_dept['Available DtTm'] = pd.to_datetime(data_fire_dept['Available DtTm'], format='%m/%d/%Y %H:%M:%S %p')

Wall time: 1min 9s

In [70]:
data_fire_dept[datetime_columns].dtypes

Call Date         datetime64[ns]
Watch Date        datetime64[ns]
Received DtTm     datetime64[ns]
Entry DtTm        datetime64[ns]
Dispatch DtTm     datetime64[ns]
Response DtTm     datetime64[ns]
On Scene DtTm     datetime64[ns]
Available DtTm    datetime64[ns]
dtype: object

In [71]:
data_fire_dept[datetime_columns].head()

,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Available DtTm
0,2019-10-18,2019-10-17,2019-10-18 12:03:52,2019-10-18 12:06:59,2019-10-18 12:07:05,2019-10-18 12:08:28,2019-10-18 12:11:10,2019-10-18 12:33:57
1,2019-10-18,2019-10-17,2019-10-18 12:05:56,2019-10-18 12:07:27,2019-10-18 12:09:49,NaT,NaT,2019-10-18 12:10:14
2,2019-10-18,2019-10-17,2019-10-18 12:05:56,2019-10-18 12:07:27,2019-10-18 12:09:49,NaT,NaT,2019-10-18 12:10:14
3,2019-10-18,2019-10-17,2019-10-18 12:09:02,2019-10-18 12:09:02,2019-10-18 12:09:02,2019-10-18 12:09:02,2019-10-18 12:09:02,2019-10-18 12:21:52
4,2019-10-18,2019-10-17,2019-10-18 12:12:39,2019-10-18 12:12:39,2019-10-18 12:12:48,2019-10-18 12:13:52,2019-10-18 12:16:16,2019-10-18 12:16:25

## Uso de parser de dateutil
- Biblioteca de terceros con zona horaria ampliada y soporte de análisis

Para más detalle: https://dateutil.readthedocs.io/en/stable/

`dateutil` de Labix extiende el módulo de fecha y hora con características adicionales.

Se puede manejar la mayoría de los formatos de fecha, incluido el que necesita analizar. 
Es más conveniente que strptime, ya que puede adivinar el formato correcto la mayor parte del tiempo.
Es muy útil para realizar pruebas, donde la legibilidad es más importante que el rendimiento.

In [72]:
from dateutil import parser 
fecha_hora = parser.parse("Aug 28 1999 12:00AM")  # recibe como entrada un string
fecha_hora

datetime.datetime(1999, 8, 28, 0, 0)

In [73]:
print(fecha_hora)

1999-08-28 00:00:00

## Módulo time (de la librería estándar de Python)
Este módulo expone funciones relacionadas al tiempo de la librería C subyacente. Incluye funciones para recuperar el tiempo y el tiempo de ejecución del procesador, así como el análisis básico y herramientas de formateo de cadenas.

Para ampliar: https://rico-schmidt.name/pymotw-3/time/index.html

A continuación se muestran algunos usos:

In [74]:
import time
calendar.timegm(time.strptime('2000-01-01 12:30:00', '%Y-%m-%d %H:%M:%S'))

946729800

### `time`:
Para obtener los segundos desde epoch, llamamos al método **time()**.

In [75]:
print('Epoch:', time.time(), 'segundos')

Epoch: 1582913365.260479 segundos

### `fromtimestamp`: Convertir el epoch a fecha

In [76]:
date.fromtimestamp(time.time())

datetime.date(2020, 2, 28)

### `gmtime`:
La función **gmtime()** devuelve la hora actual en UTC.

In [77]:
time.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [78]:
print(time.gmtime())
print('Año:', time.gmtime().tm_year)
print('Mes:', time.gmtime().tm_mon)
print('Día:', time.gmtime().tm_mday)
print('Hora:', time.gmtime().tm_hour)
print('Minutos:', time.gmtime().tm_min)
print('Segundos:', time.gmtime().tm_sec)

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=28, tm_hour=18, tm_min=9, tm_sec=25, tm_wday=4, tm_yday=59, tm_isdst=0)
Año: 2020
Mes: 2
Día: 28
Hora: 18
Minutos: 9
Segundos: 25

### `localtime`:
La función **localtime()** devuelve la hora actual local (con zona horaria).

In [79]:
print(time.localtime())
print('Año:', time.localtime().tm_year)
print('Mes:', time.localtime().tm_mon)
print('Día:', time.localtime().tm_mday)
print('Hora:', time.localtime().tm_hour)
print('Minutos:', time.localtime().tm_min)
print('Segundos:', time.localtime().tm_sec)

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=28, tm_hour=15, tm_min=9, tm_sec=25, tm_wday=4, tm_yday=59, tm_isdst=0)
Año: 2020
Mes: 2
Día: 28
Hora: 15
Minutos: 9
Segundos: 25

## Cambio de idioma
Por defecto los nombres de los días y meses se encuentran en inglés, pero podemos cambiar el idioma de configuración de Python, de la siguiente manera:

https://docs.python.org/3/library/locale.html

In [81]:
import locale

# Idioma "es-ES" (código para el español de España)
locale.setlocale(locale.LC_ALL, 'es-ES') 

print(datetime.now().strftime("%A %d %B %Y %I:%M"))
print(datetime.now().strftime("%A %d de %B de %Y - %H:%M"))  # %I 12h - %H 24h

viernes 28 febrero 2020 03:13
viernes 28 de febrero de 2020 - 15:13

Para terminar se acota que existen mucho más funcionalidades, sin embargo, acá solo se hizo foco en las comúnmente utilizadas.